
    <h1>What do we need to complete today?</h1>
    <div>
        <input [(ngModel)]="newTodo" placeholder="Add your new todo">    
        <select [(ngModel)]="newPriority">
            <option default>How hectic is it?</option>
            <option value="High">High Alert</option>
            <option value="Medium">Halfway Through</option>
            <option value="Low">10% Left</option>
        </select>
        <input type="date" [(ngModel)]="newDueDate">
        <button type="submit" (click)="addTodo()" >Add</button>
        </div> 
    
        
<div *ngFor="let todo of todos">
    <div [ngClass]="{
        'low':todo.priority === 'Low',
        'medium':todo.priority === 'Medium',
        'high':todo.priority === 'High'
    }">
    <p> {{todo.task}} - {{todo.priority}} - {{todo.dueDate}}
        <button type="button" (click)="removeTodo(newTodo)">Remove</button>
    </p>
    </div>

</div>

<button (click)="logout()">See you later! Bye</button>

