<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>Register Here!</h1>
    <div>
        <label>Full Name</label>
        <input id="fullname" type="text" formControlName="fullName">
        <br>
        <label>Email Address </label>
        <input id="email" type="text" formControlName="emailAddress">
        <br>
        <label>Password</label>
        <input id="pass" type="text" formControlName="password">
        <br>
        <br>
        <button routerLink="/todolist"> Signup </button>
        <button type="submit" routerLink="/login"> No need. Let's login</button>     
    </div>
</form>
